.feedback__section {
  list-style-type: none;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  width: 350px;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
